#sidebar{

    #main-logo{
        background-image: url(../assets/images/admin/logo.svg);
        width: 135px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 3px;
    }

}